---
import { NAME } from '@/constants';
---

<footer class="footer footer-center p-4 bg-base-100 shadow-md text-base-content mt-40 px-2">
  <div>
    <p>Copyright © {new Date().getFullYear()} - All rights reserved by {NAME}</p>
  </div>
</footer>
