---
import { NAME } from '@/constants';
---

<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-80">
  <div>
    <p>Copyright © {new Date().getFullYear()} - All right reserved by {NAME}</p>
  </div>
</footer>
