---
import { NAME } from '@/constants';
---

<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-40">
  <div>
    <p>Copyright © {new Date().getFullYear()} - All rights reserved by {NAME}</p>
  </div>
</footer>
