---
import { NAME, globalClasses } from '@/constants';
import { cn } from '@/utils';
---

<section class={cn(globalClasses.container, 'flex items-center flex-col')}>
  <h1 class="text-9xl font-semibold mb-20 my-60 text-center bg-gradient-to-r from-indigo-400 to-cyan-400 bg-clip-text text-transparent">{NAME}</h1>
  <p class={cn(globalClasses.blackGradient, 'text-5xl text-center font-medium')}>Software architect</p>
</section>
