---
import Description from '@/modules/Description.astro';
import Navbar from '@/components/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
import Projects from '@/modules/Projects';
import Hero from '@/modules/Hero.astro';
import Work from '@/modules/Work.astro';
import Skills from '@/modules/Skills';
---

<Layout title="Welcome to Astro.">
  <main class="bg-base-100">
    <Navbar />
    <Hero />
    <Description />
    <Work />
    <Projects client:load />
    <Skills client:load />
  </main>
</Layout>
