---
import Description from '@/modules/Description.astro';
import Contacts from '@/modules/Contacts.astro';
import Navbar from '@/components/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
import People from '@/modules/People.astro';
import Footer from '@/modules/Footer.astro';
import Projects from '@/modules/Projects';
import Hero from '@/modules/Hero.astro';
import Work from '@/modules/Work.astro';
import Skills from '@/modules/Skills';
---

<Layout title="Jesús David Bossa | Portfolio">
  <main class="bg-base-100">
    <Navbar />
    <Hero />
    <Description />
    <Work />
    <Projects client:load />
    <Skills client:load />
    <People />
    <Contacts />
    <Footer />
  </main>
</Layout>
