---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bg-base-100">
    <Navbar />

    <section class="flex justify-center my-20 text-3xl">
      <h1>Hola astro</h1>
    </section>
  </main>
</Layout>
