---
import Description from '@/modules/Description.astro';
import Projects from '@/modules/Projects.astro';
import Navbar from '@/components/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/modules/Hero.astro';
import Work from '@/modules/Work.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bg-base-100">
    <Navbar />
    <Hero />
    <Description />
    <Work />
    <Projects < main />
  </main>
</Layout>
