---
import { FaChevronRight } from 'react-icons/fa';
const { href, name } = Astro.props;
---

<a class="flex items-center text-info gap-1 mt-2" href={href} target="_blank" referrerpolicy="no-referrer">
  <span class="text-sm">{name}</span>
  <FaChevronRight size={12} />
</a>
